.verification {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;

    .mainInput {
        z-index: -100;
        opacity: 0;
        display: flex;
        width: 1px;
        height: 1px;
        color: red;
        transform: translateX(-100vw);
    }
}